/* :root 是一个伪类选择器，它匹配文档的根元素
定义全局 CSS 变量,设置全局样式
*/
  :root{
    --bgcolor: #B02633;
    --unselectcolor:#ffffffa6;
    --selectcolor:#fff;
}

/*----------底部导航栏----------*/
.footer{
    height:60px;
}
.footer-seat{
    /* 将导航栏定位在视口的左下角 */
    position:fixed;
    bottom:0;
    left: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid rgba(128, 128, 128, 0.226);
    
}
.footer-list{
    max-width: 1080px;
    height: 60px;
    /* 水平居中在其父元素 */
    margin: auto;
}
.footer-list ul{
    /* 将 <ul> 元素设置为 Flexbox 容器，
    这会使其子元素 <li> 平均分布在水平方向上。 */
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: var(--bgcolor);
}
.footer-list ul i{
    font-size: 25px;
}

/* 未选择中设置颜色 */
.footer-seat .footer-list .iconfont{
    color:var(--unselectcolor);
}
.footer-seat .footer-list p{
    color:var(--unselectcolor);
}
/* 选中时设置颜色 */
.footer-seat .footer-list .selected .iconfont,
.footer-seat .footer-list .selected p {
    color:var(--selectcolor);
}

/*----------头部----------*/
.header{
    /* position: absolute;
    top: 0;
    left: 0;
    */
    /* 使用视口宽度单位（vw），100vw 等于视口宽度的100%。 */
    width: 100vw;
}
.header-search{
    background-color: var(--bgcolor);
    padding: 10px;
    
}
.search-list{
     background-color: rgba(255, 251, 251, 0.5);
     border-radius: 10px;
     padding:5px;
}
.header-search input{
    border: 0;
    background-color: transparent;
    margin-left: 10px;
}
.header-tabs{
    display: flex;
    justify-content: space-around;
    background-color: var(--bgcolor);
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    color:rgba(0, 0, 0, 0.65);
    /* 沾性定位 */
    position:sticky;
    color: var(--unselectcolor);
}

/* ----------排行榜 ----------*/
.charts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.charts h4{
    font-size: 16px;
    margin-left: 15px;
}
/* 排行榜分类标签 */
.chartstab .van-tabs{
    overflow-x: auto;
    width: 100vw;
}
.chartstab .van-tab{
    background-color: #F1F1F1;
    border-radius: 10px;
    margin: 0 6px;
    white-space: nowrap;
    padding: 0 10px;
}
.chartstab .van-tabs--line .van-tabs__wrap{
    height: 30px;
}
.chartstab .van-tabs__line{
    /* 取消选中标签时,出现的下划线 */
    background: transparent;
}
.chartstab .van-tab--active{
    background-color: var(--bgcolor);
    color: var(--selectcolor);
}

/* 排行榜横向滑动内嵌页 */
.chartstab-content{
    display: flex;
    height: 300px;
    overflow-x: auto;
}
.chartstab-content::-webkit-scrollbar{
    display: none;
}
.chartstab-item{
    display: flex;
    /* 垂直排列 */
    flex-direction: column;
    /* 允许换行 */
    flex-wrap: wrap;
}
.chartstab-list{
    display: flex;
    width: 200px;
    height: 80px;
    margin: 6px;
}
.chartstab-img{
    /* width: 22%; */
    /* 不放大，不缩小，基础宽度为22% */
    flex: 0 0 30%; 
}
.chartstab-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* 使图片等比例缩放 */
    object-fit: cover;
}
.chartstab-title{
    flex: 1; /* 占据剩余空间 */
    margin-left: 20px;
    padding-right: 10px;
    display: flex;
    /* 垂直排列 */
    flex-direction: column;
    /* 保留些间距来对齐 */
    justify-content: space-evenly;
    width: calc(100% - 66px);
}
.chartstab-title p{
    color: #999;
    font-size: 12px;
    /* 溢出部分隐藏 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
/* ----------热门分类 ----------*/
.popuplist{
    text-align: center;
    padding: 1rem;/*10px*/
}
.popuplist h4{
    padding: 1rem;
}
.popuplist ul{
    /* 将元素定义为一个网格容器 子元素将会按照网格布局来排列*/
    display: grid;
    /* 创建两个等宽的列，每个列的宽度是可用空间的一个分数单位 1fr */
    grid-template-columns: repeat(2,1fr);
    /* 设置了网格行与行之间以及列与列之间的间隙 */
    gap: 1rem;
}
.popuplist ul li{
    background-color: #F1F1F1;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 18px;
}
.popuplist .active{
    background-color: var(--bgcolor);
    color: #fff;
    /* 字体描边 */
    text-shadow: 0 0 1.5px #000000,
    0 0 1.5px #000000,
    0 0 1.5px #000000,
    0 0 1.5px #000000,
    0 0 1.5px #000000,
    0 0 1.5px #000000,
    0 0 1.5px #000000;

}